body {
    background-color: black;
    overflow-y: auto;
    right: 190px;
}

body p {
    line-height:  2;
    text-indent: 2em;
}

h1 {
    color: crimson;
    background: #333;
    font-family: sans-serif;
    font-size: 70px; 
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: left;
    border: 1px solid #a6aab2;
    width: 440px;
}
.intro {
    margin-left: 40px;
    margin-bottom: 10px;
    color: crimson;
    text-decoration: underline;
}
.body-text {
    color: aliceblue;
    padding-left: 0px;
    text-align: justify;
    /*padding-right: 190px;*/
    margin-right: 0;
}

.intro, .body-text {
    max-width: 800px;
    margin: auto;
}

.leftimg {
    padding-right: 10px;
    display: block;
    float: left;
}

.rightimg {
    padding-left: 10px;
    float: right;
}

.body-text a {
    color:crimson;
}
.body-text a:hover {
    color: azure;
}

.button {
    font-size: 50px;
    position: fixed;
    top: 6px;
    right: 20px;
    z-index: 999;
}

.button a {
    text-decoration: none;
}

.btn-open:after {
    font-family: "FontAwesome";
    content: "\f0c9";
    color: crimson;
    transition: color .2s
}

.btn-open:hover:after {
    color: aliceblue;
}

.btn-close:after {
    font-family: "FontAwesome";
    content: "\f00d";
    color: #333;
    transition: color .2s
}

.btn-close:hover:after {
    color: aliceblue;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100%;
    /*width: 175px;*/
    width: 0;
    background: crimson;
    border: 5px solid #a6aab2;
    overflow-y: auto;
}

.nav-container {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.nav-col {
    margin-left: 0;
    background-color: crimson;
    display: none;
    overflow: hidden;
}

.nav-col h2 {
    font-size: 35px;
    color: #333;
}

.nav-col ul {
    margin: 0;
    padding-left: 20px;
    list-style:none;
}

.nav-col ul li a {
    color: #333;
    font-size: 18px;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color .2s;
}

.nav-col ul li a:hover {
    color: aliceblue;
}

.accordion {
    background-color: crimson;
    font-family: serif;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5px;
    width: 85px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}

.accordion:hover {
    color: aliceblue;
}

.heading {
    display: inline-flex;
}

.widgetmain {
    position: absolute;
    margin-top: 50px;
    right: 190px;
    
}